<%= form_with(model: prompt, local: true) do |form| %>
  <% if prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
        <% prompt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :general_setting_id %>
    <%= form.text_field :general_setting_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :translation_text %>
    <%= form.text_area :translation_text %>
  </div>

  <div class="field">
    <%= form.label :prompt_category_id %>
    <%= form.text_field :prompt_category_id %>
  </div>

  <div class="field">
    <%= form.label :prompt_tag_id %>
    <%= form.text_field :prompt_tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
