<p id="notice"><%= notice %></p>

<p>
  <strong>General setting:</strong>
  <%= @check_point.general_setting_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @check_point.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @check_point.discription %>
</p>

<p>
  <strong>Download url:</strong>
  <%= @check_point.download_url %>
</p>

<p>
  <strong>Extention category:</strong>
  <%= @check_point.extention_category_id %>
</p>

<p>
  <strong>Extention tag:</strong>
  <%= @check_point.extention_tag_id %>
</p>

<%= link_to 'Edit', edit_check_point_path(@check_point) %> |
<%= link_to 'Back', check_points_path %>
