<p id="notice"><%= notice %></p>

<p>
  <strong>General setting:</strong>
  <%= @negative_prompt.general_setting_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @negative_prompt.text %>
</p>

<p>
  <strong>Translation text:</strong>
  <%= @negative_prompt.translation_text %>
</p>

<p>
  <strong>Prompt category:</strong>
  <%= @negative_prompt.prompt_category_id %>
</p>

<p>
  <strong>Prompt tag:</strong>
  <%= @negative_prompt.prompt_tag_id %>
</p>

<%= link_to 'Edit', edit_negative_prompt_path(@negative_prompt) %> |
<%= link_to 'Back', negative_prompts_path %>
