<%= form_with(model: lora, local: true) do |form| %>
  <% if lora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lora.errors.count, "error") %> prohibited this lora from being saved:</h2>

      <ul>
        <% lora.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :general_setting_id %>
    <%= form.text_field :general_setting_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="field">
    <%= form.label :download_url %>
    <%= form.text_area :download_url %>
  </div>

  <div class="field">
    <%= form.label :extention_category_id %>
    <%= form.text_field :extention_category_id %>
  </div>

  <div class="field">
    <%= form.label :extention_tag_id %>
    <%= form.text_field :extention_tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
