<p id="notice"><%= notice %></p>

<h1>Loras</h1>

<table>
  <thead>
    <tr>
      <th>General setting</th>
      <th>Name</th>
      <th>Discription</th>
      <th>Download url</th>
      <th>Extention category</th>
      <th>Extention tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loras.each do |lora| %>
      <tr>
        <td><%= lora.general_setting_id %></td>
        <td><%= lora.name %></td>
        <td><%= lora.discription %></td>
        <td><%= lora.download_url %></td>
        <td><%= lora.extention_category_id %></td>
        <td><%= lora.extention_tag_id %></td>
        <td><%= link_to 'Show', lora %></td>
        <td><%= link_to 'Edit', edit_lora_path(lora) %></td>
        <td><%= link_to 'Destroy', lora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lora', new_lora_path %>
