<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @extention_category.label %>
</p>

<p>
  <strong>Color:</strong>
  <%= @extention_category.color %>
</p>

<%= link_to 'Edit', edit_extention_category_path(@extention_category) %> |
<%= link_to 'Back', extention_categories_path %>
