<p id="notice"><%= notice %></p>

<h1>Extention Tags</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extention_tags.each do |extention_tag| %>
      <tr>
        <td><%= extention_tag.label %></td>
        <td><%= extention_tag.color %></td>
        <td><%= link_to 'Show', extention_tag %></td>
        <td><%= link_to 'Edit', edit_extention_tag_path(extention_tag) %></td>
        <td><%= link_to 'Destroy', extention_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extention Tag', new_extention_tag_path %>
