<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @extention_tag.label %>
</p>

<p>
  <strong>Color:</strong>
  <%= @extention_tag.color %>
</p>

<%= link_to 'Edit', edit_extention_tag_path(@extention_tag) %> |
<%= link_to 'Back', extention_tags_path %>
